@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: Raleway;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 43, 73, 0.8))), url(../img/background.jpg);
  background: linear-gradient(rgba(37, 43, 73, 0.8)), url(../img/background.jpg);
  background-size: cover;
  text-align: center;
  padding: 0 0 120px 0;
}
@media (max-width: 767px) {
  .welcome {
    padding: 0 0 52px 0;
  }
}
.welcome__title {
  margin: 130px 0 31px 0;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .welcome__title {
    font-size: 48px;
    line-height: 56px;
    margin: 160px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .welcome__title {
    font-size: 36px;
    line-height: 42px;
    margin: 70px 0 30px 0;
  }
}
.welcome__text {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 82px 0;
}
@media (max-width: 1200px) {
  .welcome__text {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 90px 0;
  }
}
@media (max-width: 767px) {
  .welcome__text {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 50px 0;
  }
}
.welcome__link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 370px;
  background: #ff4343;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome__link:hover {
  background: #e71414;
}
.welcome__link:active {
  background: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}
@media (max-width: 1200px) {
  .welcome__link {
    width: 315px;
    height: 77px;
  }
}
@media (max-width: 767px) {
  .welcome__link {
    width: 280px;
    height: 60px;
  }
}
@media (max-width: 565px) {
  .welcome__link {
    width: 260px;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #babbc5;
}
@media (max-width: 992px) {
  .header__body {
    padding: 20px 0 0 0;
    border-bottom: none;
  }
}
.header__link {
  display: block;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .header-nav__list {
    display: none;
  }
}
.header-nav__link {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 134px;
  height: 100px;
  position: relative;
}
.header-nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  height: 3px;
  width: 100%;
  background-color: #babbc5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.header-nav__link:hover:before {
  content: "";
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.header-nav__link:active:before {
  content: "";
  background-color: #e71414;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 1200px) {
  .header-nav__link {
    font-size: 12px;
    width: 120px;
  }
}
.header-nav__burger-btn {
  background-color: inherit;
  padding: 3px;
  display: none;
}
@media (max-width: 992px) {
  .header-nav__burger-btn {
    display: block;
  }
}

.services {
  margin: 130px 0;
}
@media (max-width: 1200px) {
  .services {
    margin: 80px 0;
  }
}
@media (max-width: 767px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0;
  }
}
.services__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 90px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 1200px) {
  .services__row {
    row-gap: 50px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .services__row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}
@media (max-width: 565px) {
  .services__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.services__column {
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .services__column {
    max-width: 315px;
  }
}
@media (max-width: 767px) {
  .services__column {
    max-width: 280px;
  }
}
.services__image {
  height: 100px;
  width: 100px;
}
@media (max-width: 1200px) {
  .services__image {
    height: 85px;
    width: 85px;
  }
}
@media (max-width: 767px) {
  .services__image {
    height: 75.75px;
    width: 75.75px;
  }
}
.services__icon {
  width: 100%;
  height: 100%;
}
.services__title {
  margin: 50px 0;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #2d3033;
}
@media (max-width: 1200px) {
  .services__title {
    font-size: 18px;
    line-height: 21px;
    margin: 40px 0;
  }
}
@media (max-width: 767px) {
  .services__title {
    margin: 30px 0;
  }
}
.services__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
}
@media (max-width: 1200px) {
  .services__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
@media (max-width: 767px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
.grid__block {
  position: relative;
}
.grid__block:hover .grid__body {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
}
.grid__body {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  border-radius: 50%;
}
.grid__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 50px 0;
}
@media (max-width: 1200px) {
  .grid__title {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767px) {
  .grid__title {
    margin: 0 0 15px 0;
  }
}
.grid__text {
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .grid__text {
    font-size: 14px;
    line-height: 16px;
  }
}
.grid__image {
  height: 100%;
  width: 100%;
}
.grid__img {
  height: 100%;
  width: 100%;
}

.saying {
  padding: 114px 0;
}
.saying__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
}
@media (max-width: 1024px) {
  .saying__row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 620px) {
  .saying__row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1024px) {
  .saying__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.saying__image {
  width: 270px;
  height: 270px;
}
@media (max-width: 1200px) {
  .saying__image {
    width: 227px;
    height: 227px;
  }
}
@media (max-width: 767px) {
  .saying__image {
    width: 280px;
    height: 227px;
  }
}
.saying__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.saying__name {
  margin: 30px 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #2d3033;
}
@media (max-width: 1200px) {
  .saying__name {
    font-size: 18px;
  }
}
.saying__prof {
  font-size: 18px;
  text-transform: uppercase;
  color: #ff4343;
}
@media (max-width: 1200px) {
  .saying__prof {
    font-size: 14px;
  }
}
.saying__text {
  margin: 20px 0 40px 0;
  max-width: 270px;
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
}
@media (max-width: 1200px) {
  .saying__text {
    font-size: 14px;
    line-height: 16px;
    max-width: 227px;
  }
}
@media (max-width: 1024px) {
  .saying__text {
    text-align: center;
  }
}
.saying__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.saying__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c6cbcd;
  color: #c6cbcd;
  font-size: 18px;
  height: 39px;
  width: 39px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.saying__link:hover {
  color: #000000;
  border: 1px solid #000000;
}

.comments {
  background: url(../../img/bg.jpg) no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(92, 50, 73)));
  background: url(../../img/bg.jpg) no-repeat, linear-gradient(rgb(92, 50, 73));
  background-size: contain;
}
@media (max-width: 830px) {
  .comments {
    background: rgb(92, 50, 73);
  }
}
.comments__img--container {
  display: none;
  width: 100%;
}
@media (max-width: 830px) {
  .comments__img--container {
    display: block;
  }
}
.comments__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments__item {
  margin: 120px 0;
}
@media (max-width: 1400px) {
  .comments__item {
    margin: 100px 0;
  }
}
@media (max-width: 992px) {
  .comments__item {
    margin: 80px 0;
  }
}
@media (max-width: 867px) {
  .comments__item {
    margin: 60px 0;
  }
}
.comments__content {
  max-width: 470px;
}
@media (max-width: 1200px) {
  .comments__content {
    max-width: 330px;
  }
}
@media (max-width: 830px) {
  .comments__content {
    max-width: 470px;
  }
}
@media (max-width: 767px) {
  .comments__content {
    max-width: 270px;
  }
}
.comments__text {
  font-family: "Cardo";
  font-style: italic;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .comments__text {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 830px) {
  .comments__text {
    text-align: center;
  }
}
.comments__people {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 830px) {
  .comments__people {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .comments__people {
    font-size: 12px;
  }
}
.comments .swiper {
  width: 470px;
  -webkit-transform: translateX(calc(100% - 120px));
          transform: translateX(calc(100% - 120px));
}
@media (max-width: 1200px) {
  .comments .swiper {
    max-width: 330px;
    -webkit-transform: translateX(calc(100% - 40px));
            transform: translateX(calc(100% - 40px));
  }
}
@media (max-width: 992px) {
  .comments .swiper {
    -webkit-transform: translateX(calc(100% - 60px));
            transform: translateX(calc(100% - 60px));
  }
}
@media (max-width: 867px) {
  .comments .swiper {
    -webkit-transform: translateX(calc(100% - 80px));
            transform: translateX(calc(100% - 80px));
  }
}
@media (max-width: 830px) {
  .comments .swiper {
    max-width: 270px;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}
.comments .swiper-pagination {
  bottom: 10px;
}
.comments .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
@media (max-width: 1200px) {
  .comments .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
.comments .swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
}

.download {
  padding: 150px 0 150px 0;
}
@media (max-width: 1200px) {
  .download {
    padding: 120px 0 120px 0;
  }
}
@media (max-width: 992px) {
  .download {
    padding: 100px 0 100px 0;
  }
}
@media (max-width: 767px) {
  .download {
    padding: 60px 0 60px 0;
  }
}
.download__body {
  text-align: center;
}
.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
@media (max-width: 1200px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
}
.download__subtitle {
  margin: 30px 0 50px 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1200px) {
  .download__subtitle {
    font-size: 16px;
    line-height: 14px;
  }
}
@media (max-width: 767px) {
  .download__subtitle {
    font-size: 13px;
    line-height: 15px;
  }
}
.download__button {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  height: 80px;
  width: 370px;
  background: #ff4343;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.download__button:hover {
  background: #e71414;
}
.download__button:active {
  background: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}
@media (max-width: 1200px) {
  .download__button {
    font-size: 24px;
    line-height: 28px;
    height: 80px;
    width: 370px;
  }
}
@media (max-width: 767px) {
  .download__button {
    height: 78px;
    width: 315px;
  }
}
@media (max-width: 565px) {
  .download__button {
    width: 260px;
  }
}

.final {
  background: #353c65;
  padding: 71px 0 67px 0;
}
@media (max-width: 1200px) {
  .final {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .final {
    padding: 35px 0;
  }
}
.final__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
}
@media (max-width: 992px) {
  .final__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.final__column {
  max-width: 370px;
}
@media (max-width: 1200px) {
  .final__column {
    max-width: 315px;
  }
}
@media (max-width: 992px) {
  .final__column {
    max-width: none;
  }
}
.final__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .final__title {
    font-size: 14px;
  }
}
.final__text {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .final__text {
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0 0 0;
  }
}
@media (max-width: 992px) {
  .final__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 35px auto 0 auto;
    max-width: 280px;
  }
}
.final__links {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
@media (max-width: 1200px) {
  .final__links {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 767px) {
  .final__links {
    margin: 30px 0 0 0;
  }
}
.final__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #c6cbcd;
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.final__link:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer {
  background: #2c3154;
}
.footer__container {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #808080;
}
.footer__text span {
  color: #ffffff;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}