.comments {
    background-color: rgba(92, 50, 73, 1);
    &__body {
        padding: 120px 0;
        max-width: 470px;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        left: calc(100% - 470px);
    }
    &__text {
        font-family: "Cardo";
        font-style: italic;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        color: #ffffff;
        margin: 0 0 30px 0;
    }
    &__people {
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: #ffffff;
    }
}
