.header {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #babbc5;
        @media (max-width: 992px) {
            padding: 20px 0 0 0;
            border-bottom: none;
        }
    }
    &__link {
        display: block;
    }
}
.header-nav {
    &__list {
        display: flex;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__link {
        font-weight: 700;
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 134px;
        height: 100px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: auto;
            height: 3px;
            width: 100%;
            background-color: #babbc5;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.25s;
        }
        &:hover {
            &:before {
                content: "";
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.25s;
            }
        }
        &:active {
            &:before {
                content: "";
                background-color: #e71414;
                transition: all 0.25s ease-in-out;
            }
        }
        @media (max-width: 1200px) {
            font-size: 12px;
            width: 120px;
        }
    }
    &__burger-btn{
        background-color: inherit;
        padding: 3px;
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }
}
