.welcome {
    background: linear-gradient(rgba(37, 43, 73, 0.8)), url(../img/background.jpg);
    background-size: cover;
    text-align: center;
    padding: 0 0 120px 0;
    @media (max-width: 767px) {
        padding: 0 0 52px 0;
    }
    &__title {
        margin: 130px 0 31px 0;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1200px) {
            font-size: 48px;
            line-height: 56px;
            margin: 160px 0 60px 0;
        }
        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 42px;
            margin: 70px 0 30px 0;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        margin: 0 0 82px 0;
        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 21px;
            margin: 0 0 90px 0;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
            margin: 0 0 50px 0;
        }
    }
    &__link {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 370px;
        background: #ff4343;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: #e71414;
        }
        &:active {
            background: #ff4343;
            box-shadow: 4px 4px 30px #ff4343;
        }
        @media (max-width: 1200px) {
            width: 315px;
            height: 77px;
        }
        @media (max-width: 767px) {
            width: 280px;
            height: 60px;
        }
        @media (max-width: 565px) {
            width: 260px;
        }
    }
}
